n8n_sepay_workflow.json
{
  "name": "Sepay to Google Sheets & Gmail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sepay-webhook",
        "options": {}
      },
      "name": "Sepay Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "REPLACE_WITH_YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || {};\nconst content = body.content || '';\nconst match = content.match(/AI\\d{10}/);\nreturn {\n  json: {\n    ...$input.item.json,\n    orderId: match ? match[0] : null,\n    transferAmount: body.transferAmount || 0\n  }\n};"
      },
      "name": "Extract Order ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1d7c3580-5a3d-4258-8b54-7227091f0a20",
              "leftValue": "={{ $json.orderId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Order ID exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "documentId": {
          "__rl": true,
          "value": "1RmgWMVnSTGkVSgoPsTdI7p_eQjzFQJg_l7UnzIPd9oY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Mã Đơn Hàng",
              "lookupValue": "={{ $json.orderId }}"
            }
          ]
        }
      },
      "name": "Lookup Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        620,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RmgWMVnSTGkVSgoPsTdI7p_eQjzFQJg_l7UnzIPd9oY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "rowNumber": "={{ $json.row_number }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Thanh Toán": "PAID"
          }
        },
        "options": {}
      },
      "name": "Update Payment Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        840,
        -100
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Lookup Row').item.json.Email }}",
        "subject": "Xác nhận thanh toán đơn hàng {{ $('Lookup Row').item.json['Mã Đơn Hàng'] }} thành công",
        "message": "Chào {{ $('Lookup Row').item.json['Tên'] }},\n\nChúng tôi đã nhận được khoản thanh toán {{ $('Lookup Row').item.json['Số Tiền'] }} cho đơn hàng {{ $('Lookup Row').item.json['Mã Đơn Hàng'] }}.\n\nCảm ơn bạn đã tin tưởng CAO Fine Jewellery! Đội ngũ tư vấn sẽ sớm liên hệ với bạn để hoàn tất các bước tiếp theo.\n\nTrân trọng,\nCAO Fine Jewellery",
        "options": {}
      },
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1060,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RmgWMVnSTGkVSgoPsTdI7p_eQjzFQJg_l7UnzIPd9oY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "rowNumber": "={{ $('Lookup Row').item.json.row_number }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Gửi Email": "Đã Gửi"
          }
        },
        "options": {}
      },
      "name": "Update Email Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [
        1280,
        -100
      ]
    }
  ],
  "connections": {
    "Sepay Webhook": {
      "main": [
        [
          {
            "node": "Extract Order ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order ID": {
      "main": [
        [
          {
            "node": "Check Order ID exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Order ID exists": {
      "main": [
        [
          {
            "node": "Lookup Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Row": {
      "main": [
        [
          {
            "node": "Update Payment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Payment Status": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Update Email Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
